---
import BaseLayout from '../layouts/BaseLayout.astro'
import { contact } from '../consts/pages'
const { h1, h2, title, description, bgImage, overlayColor, overlayIntensity } =
  contact
---

<BaseLayout
  h1={h1}
  h2={h2}
  title={title}
  description={description}
  bgImage={bgImage}
  overlayColor={overlayColor}
  overlayIntensity={overlayIntensity}
>
  <main>
    <section>
      <h2>Request A Quote</h2>
      <form action=''>
        <label for='name'>Name</label>
        <input type='text' name='name' id='name' />
        <label for='email'>Email</label>
        <input type='email' name='email' id='email' />
        <label for='phone'>Phone</label>
        <input type='tel' name='phone' id='phone' />
        <label for='message'>Message</label>
        <textarea name='message' id='message' cols='30' rows='10'></textarea>
        <input type='submit' value='Submit' />
      </form>
    </section>
    <section>
      <h2>Contact By Email</h2>
      <p>
        Send us an email at <a href='mailto:info@mossaway.ca'
          >info@mossaway.ca</a
        >
      </p>
    </section>
    <section>
      <h2>Contact By Phone</h2>
      <p>Call us at <a href='tel:778-966-6677'>778-966-6677</a></p>
    </section>
  </main>
</BaseLayout>
