---
import BaseLayout from '../layouts/BaseLayout.astro'
import { gutterCleaning } from '../consts/pages'
const { h1, h2, title, description, bgImage, overlayColor, overlayIntensity } =
  gutterCleaning
---

<BaseLayout
  h1={h1}
  h2={h2}
  title={title}
  description={description}
  bgImage={bgImage}
  overlayColor={overlayColor}
  overlayIntensity={overlayIntensity}
>
  <article>
    <h1>Gutter Cleaning in Victoria</h1>
    <p></p>

    <section>
      <h2>Why Choose MossAway for Gutter Cleaning</h2>
      <ul>
        <li>Safe and efficient gutter cleaning process</li>
        <li>No more unsafe ladder setups</li>
        <li>Professional and reliable service</li>
        <li>Competitive pricing</li>
      </ul>
    </section>

    <section>
      <h2>The Superior Clean</h2>
      <p>
        Our gutter cleaning system delivers a clean that hand scooping just
        can't provide. Even with flushing, vacuum gutter cleaning will get what
        hand scooping leaves behind. Does your home have tight, hard-to-reach
        places? Do you have steep roof slopes that leave some areas completely
        inaccessible? Often times our system gets where no one else can - all
        from the safety of two feet on the ground. Experience a better clean at
        a better price. Choose MossAway this year for your gutter cleaning
        project.
      </p>
    </section>

    <section>
      <h2>Exterior Gutter Detailing</h2>
      <p>
        Do the outside of your gutters look almost as gross as the inside? We
        can help! MossAway exterior gutter detailing removes the buildup of dirt
        & grime from the surface of your gutters to restore them to their former
        glory. Bump up your curb appeal this season and give your gutters the
        best clean in town, inside & out!
      </p>
    </section>

    <section>
      <h2>Request a Free Quote</h2>
      <p>
        Get your gutters cleaned by our professional team at MossAway. <a
          href='/request-quote'>Request a free quote</a
        > today and experience the best gutter cleaning service in Victoria.
      </p>
    </section>
  </article>
</BaseLayout>
