---
import CTAButton from '../components/ButtonCTA.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { gutterCleaning } from '../consts/pages'
const { h1, title, description, sections } = gutterCleaning
---

<BaseLayout h1={h1} title={title} description={description}>
  <div class='prose prose-xl mx-auto'>
    <p class='text-center'>
      {description}
    </p>
  </div>
  <div class='flex justify-center mt-8 mb-20'>
    <CTAButton href='/request-quote'>Request A Free Quote</CTAButton>
  </div>
  <section>
    {
      sections.map((section, index) => (
        <div class='mb-8 p-4 max-w-5xl mx-auto'>
          <article class='grid grid-cols-1 md:grid-cols-5 mb-6 text-center'>
            <div
              class={`col-span-2 flex items-center justify-center px-6 ${
                index % 2 === 0 ? 'md:order-last' : ''
              }`}
            >
              <img
                src={section.imgSrc}
                alt={section.imgAlt}
                class='rounded-lg shadow mb-6'
              />
            </div>
            <div class='col-span-3'>
              <div class='prose prose-xl'>
                <h3 class='px-4 mb-4'>{section.title}</h3>
                <p>{section.content}</p>
              </div>
              <div class='flex justify-center my-10'>
                <CTAButton href='/request-quote'>
                  Request A Free Quote
                </CTAButton>
              </div>
            </div>
          </article>
        </div>
      ))
    }
  </section>
</BaseLayout>
