---
import ButtonCTA from '../components/ButtonCTA.astro'
import HomeServices from '../components/HomeServices.astro'
import HomeSocialProof from '../components/HomeSocialProof.astro'
import HomeFAQ from '../components/HomeFAQ.astro'
import HomeContact from '../components/HomeContact.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { home } from '../consts/pages'
const { h1, h2, title, description, bgImage, overlayColor, overlayIntensity } =
  home
---

<BaseLayout
  h1={h1}
  h2={h2}
  title={title}
  description={description}
  bgImage={bgImage}
  overlayColor={overlayColor}
  overlayIntensity={overlayIntensity}
>
  <div slot='header'>
    <div class='flex justify-center'>
      <ButtonCTA href='/request-quote'>Request a Free Quote</ButtonCTA>
    </div>
  </div>
  <HomeServices />
  <HomeSocialProof />
  <HomeFAQ />
  <HomeContact />
</BaseLayout>
