---
import BaseLayout from '../layouts/BaseLayout.astro'
import { windowCleaning } from '../consts/pages'
const { h1, h2, title, description, bgImage, overlayColor, overlayIntensity } =
  windowCleaning
---

<BaseLayout
  h1={h1}
  h2={h2}
  title={title}
  description={description}
  bgImage={bgImage}
  overlayColor={overlayColor}
  overlayIntensity={overlayIntensity}
>
  <section>
    <h2>Window Cleaning Services We Offer</h2>
    <ul>
      <li>Up to 40' window reach</li>
      <li>Hybrid of water fed pole & traditional cleaning</li>
      <li>Competitive, transparent pricing</li>
      <li>Recurring services discount</li>
    </ul>
    <h3>Additional Services:</h3>
    <ul>
      <li>Glass railing cleaning</li>
      <li>Skylight cleaning</li>
      <li>Sunroom cleaning</li>
      <li>Screens & sills cleaning</li>
    </ul>
  </section>

  <section>
    <h2>Pricing and Discounts</h2>
    <h3>One-Time Service Pricing</h3>
    <p>
      This traditional style of window cleaning quote evaluates a project by the
      number of panes. For customers looking for a one-time clean, our
      competitive rates are on par with most established window cleaning
      companies in Victoria.
    </p>

    <h3>Client Pricing</h3>
    <p>
      We reward our returning clients with competitive discounts on window
      cleaning services and more. Customers who have experienced our service in
      the past also benefit from exclusive promotions offered periodically
      throughout the year.
    </p>

    <h3>Recurring Services Pricing</h3>
    <p>
      For the best deal on window cleaning, and for the best year-round clean,
      we offer our customers yearly, semi-annual, monthly, or custom recurring
      service options. Speak with one of our representatives for more
      information on how you can get the best deal on regular window cleaning.
    </p>
  </section>

  <section>
    <h2>Request a Free Quote</h2>
    <p>
      Get your windows sparkling clean with our professional window cleaning
      services. <a href='/request-quote'>Request a free quote</a> today and experience
      the MossAway difference.
    </p>
  </section>
</BaseLayout>

<aside>
  <!-- Add any additional content, like testimonials or promotions, here -->
</aside>
