---
import { awardsImage, reviewsImage, guaranteeImage } from '../consts/images'
---

<section class='bg-white py-12'>
  <div class='max-w-6xl mx-auto px-6'>
    <h3 class='text-3xl font-bold mb-8 text-center'>A Company You Can Trust</h3>
    <ul class='grid grid-cols-1 md:grid-cols-3 gap-6'>
      <li class='flex gap-6 items-center justify-center p-6'>
        <img
          src={awardsImage.src}
          alt={awardsImage.alt}
          class='h-20 rounded-lg'
        />
        <h3 class='prose prose-xl'>Award Winning</h3>
      </li>
      <li class='flex gap-6 items-center justify-center p-6'>
        <img
          src={guaranteeImage.src}
          alt={guaranteeImage.alt}
          class='h-20 rounded-lg'
        />
        <h3 class='prose prose-xl'>BBB A+ Rated</h3>
      </li>
      <li class='flex gap-6 items-center justify-center p-6'>
        <img
          src={reviewsImage.src}
          alt={reviewsImage.alt}
          class='h-20 rounded-lg'
        />
        <h3 class='prose prose-xl'>Great Reviews</h3>
      </li>
    </ul>
  </div>
</section>
