---
import {
  mossRemovalImage,
  roofMossTreatmentImage,
  windowCleaningImage,
  gutterCleaningImage,
} from '../consts/images'
import Article from './HomeServicesArticle.astro'
---

<section class='bg-gray-100 py-12'>
  <div class='max-w-6xl mx-auto px-6'>
    <h2 class='text-3xl font-bold mb-8 text-center'>Our Services</h2>
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8'>
      <Article
        heading='Roof Moss Removal'
        href={mossRemovalImage.href}
        src={mossRemovalImage.src}
        alt={mossRemovalImage.alt}
        paragraph='Our expert technicians use eco-friendly treatments and methods to safely and effectively remove moss from your roof.'
      />
      <Article
        heading='Roof Moss Treatment'
        href={roofMossTreatmentImage.href}
        src={roofMossTreatmentImage.src}
        alt={roofMossTreatmentImage.alt}
        paragraph='We offer preventative treatments to help keep moss from returning to your roof, saving you time and money in the long run.'
      />
      <Article
        heading='Window Cleaning'
        href={windowCleaningImage.href}
        src={windowCleaningImage.src}
        alt={windowCleaningImage.alt}
        paragraph='Our professional window cleaning services will make your windows & skylights sparkle and shine, inside and out.'
      />
      <Article
        heading='Gutter Cleaning'
        href={gutterCleaningImage.href}
        src={gutterCleaningImage.src}
        alt={gutterCleaningImage.alt}
        paragraph='Our expert technicians will ensure that your gutters are clean and functioning properly to protect your home from water damage.'
      />
    </div>
  </div>
</section>
