---
import BaseHead from '../components/BaseHead.astro'
import BaseHeader from '../components/BaseHeader.astro'
import SiteFooter from '../components/SiteFooter.astro'
import '../styles/global.css'
import { inject } from '@vercel/analytics'
inject()

const {
  title,
  description,
  image,
  bgImage,
  overlayColor,
  overlayIntensity,
  h1,
  h2,
} = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <slot name='styles' />
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <BaseHeader
      h1={h1}
      h2={h2}
      bgImage={bgImage}
      overlayColor={overlayColor}
      overlayIntensity={overlayIntensity}
    >
      <slot name='header' />
    </BaseHeader>
    <div class='m-6'>
      <slot />
    </div>
    <SiteFooter />
    <slot name='scripts' />
  </body>
</html>
