---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import BaseHeader from '../components/BaseHeader.astro'
import SiteFooter from '../components/SiteFooter.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'faq'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <BaseHeader />
    <main class='m-6 -mt-8'>
      <article>
        <section id='header-image' class='mb-6'>
          {
            heroImage && (
              <img
                src={heroImage}
                alt=''
                class='h-full md:h-[25vw] max-h-[375x] mx-auto'
              />
            )
          }
        </section>
        {
          updatedDate && (
            <div class='last-updated-on'>
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <hr />
        <div class='prose prose-lg mx-auto mt-6 px-4 lg:prose-xl xl:prose-2xl'>
          <slot />
        </div>
        <div
          class='prose prose-lg mx-auto mt-6 px-4 lg:prose-xl xl:prose-2xl text-right'
        >
          <FormattedDate date={pubDate} />
        </div>
      </article>
    </main>
    <SiteFooter />
  </body>
</html>
